button{
    padding: 8px 16px;
    border: none;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 8px;
    align-items: center;
    justify-content: center;
}
#time-30min {
    background-color: black;
    color: white;
}

#time-30min:hover {
    background-color: grey;
    transform: translateY(-1px);
}

#time-60min{
    background-color: black;
    color: white;
}

#time-60min:hover {
    background-color: grey;
    transform: translateY(-1px);
}

#response{
    font-family: cursive;
    color: black;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 10px auto;
    padding: 15px;
    line-height: 1.4;
}